project_dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd)"
# export WORKSPACE="$(pwd)"
# export GOPATH="$WORKSPACE"
export PATH="$project_dir/bin:$GOPATH/bin:$PATH"

export GO15VENDOREXPERIMENT=1

